[package]
name = "hquant-node"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
napi = { version = "2", features = ["napi8"] }
napi-derive = "2"
hquant-core = { path = "../.." }

[build-dependencies]
napi-build = "2"

[profile.release]
lto = true
